<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h3>All Feedbacks</h3>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Comments</th>
                <th>Submitting_at</th>
            </tr>
        </thead>
        <tbody>
            {% for fb in feedbacks %}
            <tr>
                <td>{{fb.id}}</td>
                <td>{{fb.student_name}}</td>
                <td>{{fb.comments}}</td> 
                <td>{{ fb['Submitting_at'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
</body>
</html>