<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
<h2 class="mb-4 text-center">Welcome to the Feedback portal</h2>
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-lg">
            <img src="" class="card-img-top" alt="College Image">
        
        <div class="card-body">
            <h5 class="card-title">Skill Technologies</h5>
            <p class="card-text">Welcome to the Skill Institute of Technology feedback portal. Please provide your valuable feedback to help us improve.</p>
            <ul class="list-group list-group-flush mb-3">
            <li class="list-group-item">✅ Modern Labs and Infrastructure</li>
            <li class="list-group-item">✅ Experienced Faculty</li>
            <li class="list-group-item">✅ Comprehensive Curriculum</li>
            <li class="list-group-item">✅ Supportive Environment</li>
            <li class="list-group-item">✅ Extracurricular Activities</li>
            <li class="list-group-item">✅ Placement Opportunities</li>
            </ul>
            <a href="/feedback" class="btn btn-primary">Submit Feedback</a>
            <a href="/admin" class="btn btn-secondary">Admin Panel</a>
        </div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>